* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/image/2.jpg);
    background-size: 100% 700px; /*pake cara ini supya bisa atur lebar dan tinggi gambar bagroundnya, value pertama x dan value kedua y*/
}

img {
    margin-left: -150px;
    margin-top: -200px;
    width: 400px;
    height: 400px;
    object-position: cover;
}

.row {
    margin-top: 20%;
}

.row p {
    color: white;
}

form {
    margin-top: -50px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}
